.btn_bgc {
  font-weight: 600;
  font-size: 14px;
  line-height: calc(20 / 14);
  text-decoration: none;
  color: #fff;
  background-color: #3470ff;
}
.btn_bgc:hover,
.btn_bgc:focus {
  color: #fff;
  background-color: #0b44cd;
}
