.catalog_search_form {
  margin-bottom: 50px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  align-items: flex-end;
  gap: 18px;
  width: 859px;
  height: 74px;
  text-align: left;
}

.catalog_brand_label {
  position: relative;
  width: 224px;
}

.catalog_price_label {
  position: relative;
  width: 125px;
}

.catalog_mileage_fieldset {
  border: none;
  width: 320px;
}

.catalog_mileage_fieldset label {
  position: absolute;
  top: 14px;
  bottom: 0;
  font-size: 18px;
  line-height: calc(20 / 18);
  color: #121417;
  pointer-events: none;
}

input {
  width: 160px;
}

input,
select {
  height: 48px;
  font-weight: 500;
  font-size: 18px;
  line-height: calc(20 / 18);
  color: #121417;
  border: 0px solid transparent;
  border-radius: 14px;
  background: #f7f7fb;
  cursor: pointer;
}
input:focus,
select:focus {
  outline: none;
}

label,
legend {
  font-size: 14px;
  font-weight: 500;
  line-height: calc(18 / 14);
  color: #8a8a89;
}

label,
fieldset {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-between;
}

legend {
  margin-bottom: 8px;
}

input[name='mileageMin'] {
  padding-left: 75px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-right: 1px solid rgba(18 20 23 / 10%);
}
input[name='mileageMax'] {
  padding-left: 52px;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

label[for='mileageMin'] {
  left: 24px;
}
label[for='mileageMax'] {
  left: 184px;
}
